<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title></title>

    <!-- https://bootstrap-vue.org/docs/reference/starter-templates -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    
    <style>

        /* HEADER */
        h1 {
            font-family: fantasy;
            font-size: 3.6rem;
            text-align: center;
            margin-bottom: 1.5rem;
            color: rgba(0, 0, 0, 0.603);
        }

        .jumbotron {
            padding-top: 45px;
            background: rgb(23,163,184);
            background: linear-gradient(180deg, rgba(105, 105, 105, 0.24) 74%, rgba(23,163,184,0) 100%);
        }
        .navbar {
            border-top: 1px solid #000;
        }

        .navbar-nav {
            width: 100%;
        }

        .overview-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .overview-stats .title{
            color: #d6d6d6;
        }

        .stat-group .icon,
        .stat-group .amount {
            color: azure;
        }

        @media(max-width:768px) {
            .overview-stats {
                flex-direction: column;
            }
        }

        /* BODY */

        h2 {
            font-family: fantasy;
            font-size: 2.8rem;
            color: rgb(124, 113, 113);
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 700;
        }

        img {
            max-width: 100%;
        }

        .product h3 {
            font-size: 1.4rem;;
        }

        .spend-breakdown {
            padding: 20px 40px 0px 40px;
        }
        .line-items {
            margin-bottom: 65px;
        }

        .line-item {
            display: flex;
            align-items: center;
            margin: 25px 0;
        }
        .line-item .image {
            min-width: 160px;
            display: flex;
            justify-content: flex-end;
        }
        .line-item .image img {
            height: 80px;
            width: auto;
        }
        .line-item .details {
            padding-left: 20px;
        }
        .line-item .units {
            display: flex;
            align-items: center;
        }
        .line-item .quantity {
            font-size: 1.2rem;
        }
        .line-item .unit-price {
            margin-left: 15px;
            font-size: .8rem;
            color: green;
        }

        .stories article{
            margin-bottom: 35px;
        }
        .stories .story-content {
            display: flex;
        }

        .story-content .image,
        .story-content .body {
            flex: 1 0 50%;
            padding: 10px;

        }


        @media(max-width:768px) {

            .line-item .image {
                min-width: 110px;
            }
            .stories .story-content {
                flex-direction: column;
            }
            .story-content .image,
            .story-content .body {
                flex-basis: 100%;
            }    
        }
    </style>

</head>

<body>
    <!-- Our application root element -->
    <div id="app">
        <b-container>

            <!-- entrance gate -->
            <!-- <b-form-group horizontal :label-cols="4" description="Let us know your name." label="Enter your name">
                <b-form-input v-model.trim="name"></b-form-input>
            </b-form-group>

            <b-alert variant="success" :show="showAlert">Hello {{ name }}</b-alert> -->

        </b-container>
        <b-container>

            <!-- MAIN HEADER AREA -->
            <b-jumbotron g-variant="dark" text-variant="white">
                <h1>Thank you for caring</h1>
            
                <div>
                    <b-navbar toggleable="lg" type="dark" variant="dark">
                      <!-- <b-navbar-brand href="#">NavBar</b-navbar-brand> -->
                  
                      <b-navbar id="nav-collapse" is-nav>
                        <b-navbar-nav>
    
                            <div class="overview-stats">
    
                                <b-nav-item class="stat-group total-raised" href="#">
                                    <span class="icon">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>                                            
                                    </span>
                                    <span class="title">
                                        We raised: 
                                    </span>
    
                                    <span class="amount">
                                        <b>{{ meta.overviewStats.totalDonated }}</b>
                                    </span>
    
                                </b-nav-item>
                                <b-nav-item class="stat-group total-raised" href="#">
                                    <span class="icon">
                                        <i class="fa fa-users" aria-hidden="true"></i>

                                    </span>
                                    <span class="title">
                                        Donors: 
                                    </span>
    
                                    <span class="amount">
                                        <b>{{ meta.overviewStats.totalDonors }}</b>
                                    </span>
    
                                </b-nav-item>
                                <b-nav-item class="stat-group total-raised" href="#">
                                    <span class="icon">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>

                                    </span>
                                    <span class="title" >
                                        Top Donation: 
                                    </span>
    
                                    <span class="amount">
                                        <b>{{ meta.overviewStats.topDonation }}</b>
                                    </span>
    
                                </b-nav-item>
                            </div>
                        </b-navbar-nav>
                
                      </b-navbar>
                    </b-navbar>
                  </div>
    
            </b-jumbotron>

        </b-container>
        <b-container>
            <!-- MAIN BODY AREA -->

            <div class="spend-breakdown">

                <h2>You provided</h2>
                <div class="products line-items">
                    <div class="line-item product"
                        v-for="item of lineItems('product')">
                        
                        <div class="image">
                            <img v-bind:src="item.imageUrl" />
                        </div>

                        <div class="details">
                            <div class="title">
                                <h3>{{item.name}}</h3>
                            </div>
                            <div class="units">
                                <span class="quantity">{{item.quantity}}</span>
                                <span class="unit-price">{{item.unitCost}} each</span>
                            </div>
                        </div>

                    </div>
                </div>

                <h2>Where we shopped</h2>
                <div class="stores line-items">
                    <div class="line-item store"
                        v-for="item of lineItems('store')">
                        
                        <div class="details">
                            <div class="title">
                                <h3>{{item.name}}</h3>
                            </div>
                            <div class="spent">
                                <span>Total Spent: {{item.spent}}</span>
                                <a :href='item.receiptUrl' target="_blank">
                                    view receipt
                                </a>
                            </div>
                            <!-- <div class="tags">
                                <span class="tag" v-for="tag of item.tags">{{tag}}</span>
                            </div> -->
                        </div>

                    </div>
                </div>


                <h2>Who recieved</h2>
                <div class="recipients line-items">
                    <div class="line-item location"
                        v-for="item of lineItems('location')">
                        
                        <div class="details">
                            <div class="title">
                                <h3>{{item.name}}</h3>
                            </div>
                            <div class="tags">
                                <span class="tag" v-for="tag of item.tags">{{tag}}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <h2>How it went down</h2>
                <div class="stories">
                    <article v-for="story of article">
                        <h3>{{story.name}}</h3>
                        <div class="story-content">
                            <div v-if='story.imageUrl !== ""' class="image">
                                <img v-bind:src="story.imageUrl" />
                            </div>
                            <div class="body">
                                {{story.body}}
                            </div>
                        </div>
                    </article>

                </div>
            </div>

        </b-container>
        <b-container>

            <footer>&copy; Copyright 2020</footer>
        </b-container>
    </div>

    <!-- Start running your app -->
    <script>
        window.app = new Vue({
            el: '#app',
            data: {
                name: 'test',
                meta: {
                    gateway: {
                        riddle: "Do you care?",
                        responses: ["yes", "ya", "yup", "definitely", "of course", "i care", "yes i do", "yes, i do"]
                    },
                    overviewStats: {
                        totalDonated: "$580",
                        totalDonors: "7",
                        topDonation: "9 $15 gift cards"
                    }
                },
                lineItem: [
                    {
                        type: "product",
                        name: "Leather Gloves",
                        quantity: "50 pairs",
                        unitCost: "$5.50",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXw9DVZ7w06tU57tJOukaPtPb62tzLi4eanw&usqp=CAU",
                        storeName: "McLendon's"
                    },
                    {
                        type: "product",
                        name: "Beanies",
                        quantity: "35 hats",
                        unitCost: "$4.00",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZWzhbQuXhLSm7UqNbMqUcoEF3e3e1EAuXW5g2q8oRH3vOsav5m92bcsETgAArNg7yRaZXedE&usqp=CAc",
                        storeName: "Walmart"
                    },
                    {
                        type: "product",
                        name: "$15 QFC Gift cards",
                        quantity: "9 cards",
                        unitCost: "$15.00",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzSJY5zDQ3WZ0aGSKKFRWVl3wmp-PCsCFZ_g&usqp=CAU",
                        storeName: "QFC"
                    },
                    {
                        type: "product",
                        name: "Socks",
                        quantity: "20 pairs",
                        unitCost: "$1.50",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbX-EyulASBd0Bi0xaUbszJA4TyIV9ufD7TbRpY4L2IKIXTamtrSSugiBQj1ZRH1PZbOEyHfWQ&usqp=CAc",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "product",
                        name: "Bungee Cords",
                        quantity: "20 cords",
                        unitCost: "$1.50",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCVXxEP_nrSBC3-48osSLZMK3N25pg7ENp52O0OOFfoCJ8tIokcjX7SGjN9EhTIbQil24kkTA&usqp=CAc",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "product",
                        name: "Wet one Packs",
                        quantity: "20 packs",
                        unitCost: "$1.00",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkkOwsDZklwvftz8Im7eZPzzX3sLhmm6vVxwgVURS5ttLNZ35N0lSUfaf_qGVxkPYy-vYcxU0&usqp=CAc",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "product",
                        name: "Chicken soup",
                        quantity: "20 cans",
                        unitCost: "$2.00",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3OSUUaj8CqxjZZ0XqIYxzpz5gGKwQ_2ghY4ty0BYc2D5GfkISVOPntOZXIRE&usqp=CAc",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "product",
                        name: "Fig Bars",
                        quantity: "18 packs",
                        unitCost: "$1.50",
                        imageUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHnA9qIe8gZ-eYOIZndX3UiZ1ev1_mXOuluSoT08Ro8i-4GOdgVchESXw3DyizWPgv43INGkz0qQ&usqp=CAc",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "product",
                        name: "Cookies",
                        quantity: "12 packs",
                        unitCost: "$0.50",
                        imageUrl: "https://www.kroger.com/product/images/medium/front/0004400004887",
                        storeName: "Fred Meyers"
                    },
                    {
                        type: "location",
                        name: "Downtown encampments",
                        tags: ["Seattle"]
                    },
                    {
                        type: "location",
                        name: "West Seattle encampments",
                        tags: ["Seattle"]
                    },
                    {
                        type: "location",
                        name: "International District encampments",
                        tags: ["Seattle"]
                    },
                    {
                        type: "location",
                        name: "Gasworks park",
                        tags: ["Seattle"]
                    },
                    {
                        type: "store",
                        name: "McLendon's",
                        tags: ["featured"],
                        receiptUrl: "assets/mclendon-receipt-12-2020.jpg",
                        spent: "$274.00"
                    },
                    {
                        type: "store",
                        name: "Fred Meyer's",
                        tags: [],
                        receiptUrl: "assets/fred-meyers-receipt-12-2020.jpg",
                        spent: "$155.55"
                    },
                    {
                        type: "store",
                        name: "Walmart",
                        tags: [],
                        receiptUrl: "assets/walmart-receipt-12-2020.jpg",
                        spent: "$145.77"
                    }
                ],
                article: [
                {
                        name: "McLendons matches over 2x",
                        author: {
                            first: "Corey",
                            last: "",
                            link: ""
                        },
                        imageUrl: "assets/hats-and-gloves-christmas.jpg",
                        body: "I went to McLendon's with my Dad, and we found 25 pairs of sturdy leather gloves - to buy which totaled $470. Upon going to checkout, our cashier told us that she was going to discount the gloves to their bulk price (Knocking a single pair down from $12-15 to $3-4. Our Cashier explained that their company lets employees discount products for charitable causes. So of course i asked if i could go get more pairs - and doubled down! Neither the employee or the store ask for anything in return for the discount."
                    },
                    {
                        name: "Something that someone said",
                        author: {
                            first: "Corey",
                            last: "",
                            link: ""
                        },
                        imageUrl: "",
                        body: "I went to hand out gloves and hats in conjunction with an organization that brings vegan food out to homeless encampments (among other things). While I was out there, in a particularly underserved community, I met a man (probably in his thirties) who told me this time he was going to rehab and it was gonna work. I replied that if it didn't I wouldn't blame him (because he's fighting against losing odds - so it's not really a failure), and I said that he was getting a pair of gloves even if he wasn't actively trying to get clean at that moment. It makes me tear up a bit to think about - he looked me right in the eyes and told me how inspired he was by us. He said that I very well could have been the reason somebody didn't commit suicide that night. I wanted to share that with everyone."
                    }
                ]
            },
            methods: {
                lineItems(type) {
                    return this.lineItem.filter( (item) => { return item.type == type } );
                }
            }
        })
    </script>
</body>

</html>
