<!-- temporary footer css for demonstration porpoises made by Corey Boiko -->
<style>
#social-links-container i{
	font-size: 2.5em;
	min-width:35px;
	width:100%;
}
#footer-book-button-container button{
		background:#ffad2c;
		color: #703915;
	    height: 2.1rem;
		margin-left: 10px;
		border:0;
		font-size: 1.2rem;
		font-weight: bold;
		padding:5px;
		border-radius: 3px;
		
	}

	
	#footer-book-button-container{
		padding-top:20px;
	}

</style>

<!-- social links menu made by Corey Boiko to replace very slow 'sharing is caring plugin' -->	
<div id="social-links-container">
	<a href="https://www.instagram.com/homerinnandspa/" alt="Instagram social places to stay in Homer Alaska" target="_blank">
		<button class="cta-button"><i class="fa icon-instagram fa-4x fa-instagram" aria-hidden="true" style="font-size: 2.5em; min-width:35px;width:100%;"></i></button>
	</a>
	<a href="https://www.facebook.com/HomerInnandSpa/" alt="facebook social homer alaska hotel" target="_blank">
		<button class="cta-button"><i class="fa icon-facebook fa-4x fa-facebook" aria-hidden="true" style="font-size: 2.5em; min-width:35px;width:100%;"></i></button>
	</a>
	<a href="https://www.twitter.com/homerinnandspa/" alt="twitter social homer alaska places to stay" target="_blank">
		<button class="cta-button"><i class="fa icon-twitter fa-4x fa-twitter" aria-hidden="true" style="font-size: 2.5em; min-width:35px;width:100%;"></i></button>
	</a>
	<a href="https://www.tripadvisor.com/Hotel_Review-g31009-d1634507-Reviews-Homer_Inn_Spa-Homer_Alaska.html" alt="Trip Advisor social homer alaska boutique" target="_blank">
		<button class="cta-button"><i class="fa icon-tripadvisor fa-4x fa-tripadvisor" aria-hidden="true" style="font-size: 2.5em; min-width:35px;width:100%;"></i></button>
	</a>
</div>
<div id="footer-book-button-container">
			<a onclick="sendToBookingSite();">
				<button class="cta-button">Book Now</button>
			</a>

</div>